 /* write your style definitions here or create css files and include them here */

 @import url('https://fonts.googleapis.com/css?family=Fredoka+One|Galada|Modak&display=swap');

 * {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

#board {
    position: fixed;
    width: 800px;
    height: 800px;
    background-color: #8eedf7;
}

#snake-head {
    position: absolute;
    font-size: 16px;
    color: #9d695a;
}

.snake-body {
    position: absolute;
    font-size: 16px;
    color: #9d695a;
}

#food {
    position: absolute;
    color: #d496a7;
    font-size: 16px;
}

#special-food-container {
    position:absolute;
    color: black;
    width: 28px;
    height: 28px;
    padding: 1px;
}

#special-food {
    font-size: 25px;
}

#controls-panel{
    position: absolute;
    background-color: #a1cdf1;
    color: white;
    border-radius:5px;
    padding: 5px;
    font-size: 14px;
    left: 815px;
    top: 15px;
    width: auto;
    font-weight: bold;
    box-shadow: 2px 2px 5px gray;
}

#controls-panel i{
    padding: 1px 5px;
    cursor: pointer;
}

.score {
    background-color: white;
    height: 20px;
    width: 80px;
    color: black;
    padding: 2px;
    border-radius: 2px;
}

#gameoverScreen{
    position: fixed;
    display: flex;
    opacity: 0;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    left: -5000px;
    top: 0;
    bottom: 0;
    right: 5000px;
    z-index: 3000;
    background-color:rgba(0,0,0,0.6);
    font-family: 'Fredoka One', cursive;
    font-size: 150px;
    color: white;
    transition: opacity 500ms;
}

#gameoverScreen button {
    padding: 10px;
    border: 2px solid white;
    color: white;
    background-color: rgba(0,0,0,0);
    border-radius: 10px;
    font-size:50px;
    margin:100px;
}

#gameoverScreen button:hover {
    border: 2px solid yellow;
    color: yellow;
    background-color: rgba(0,0,0,0);
    cursor: pointer;
}