 /* write your style definitions here or create css files and include them here */

 * {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

#board {
    position: fixed;
    width: 800px;
    height: 800px;
    background-color: #8eedf7;
}

#snake-head {
    position: absolute;
    font-size: 16px;
    color: #9d695a;
}

.snake-body {
    position: absolute;
    font-size: 16px;
    color: #9d695a;
}

#food {
    position: absolute;
    color: #d496a7;
    font-size: 16px;
}

#special-food-container {
    position:absolute;
    color: black;
    width: 28px;
    height: 28px;
    padding: 1px;
}

#special-food {
    font-size: 25px;
}